<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorAltaVotante</servlet-name>
        <servlet-class>CONTROLADOR.ControladorAltaVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Operaciones</servlet-name>
        <servlet-class>DAO.Operaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorInicioSesion</servlet-name>
        <servlet-class>CONTROLADOR.ControladorInicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorModificarVotante</servlet-name>
        <servlet-class>CONTROLADOR.ControladorModificarVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorBorrarVotante</servlet-name>
        <servlet-class>CONTROLADOR.ControladorBorrarVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorListadoCenso</servlet-name>
        <servlet-class>CONTROLADOR.ControladorListadoCenso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorListaPartidos</servlet-name>
        <servlet-class>CONTROLADOR.ControladorListaPartidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorMostrarElectos</servlet-name>
        <servlet-class>CONTROLADOR.ControladorMostrarElectos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVotar</servlet-name>
        <servlet-class>CONTROLADOR.ControladorVotar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorModificarEscrutinio</servlet-name>
        <servlet-class>CONTROLADOR.ControladorModificarEscrutinio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorDispatcher</servlet-name>
        <servlet-class>CONTROLADOR.ControladorDispatcher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorAltaVotante</servlet-name>
        <url-pattern>/ControladorAltaVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Operaciones</servlet-name>
        <url-pattern>/Operaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorInicioSesion</servlet-name>
        <url-pattern>/ControladorInicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorModificarVotante</servlet-name>
        <url-pattern>/ControladorModificarVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorBorrarVotante</servlet-name>
        <url-pattern>/ControladorBorrarVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorListadoCenso</servlet-name>
        <url-pattern>/ControladorListadoCenso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorListaPartidos</servlet-name>
        <url-pattern>/ControladorListaPartidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorMostrarElectos</servlet-name>
        <url-pattern>/ControladorMostrarElectos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVotar</servlet-name>
        <url-pattern>/ControladorVotar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorModificarEscrutinio</servlet-name>
        <url-pattern>/ControladorModificarEscrutinio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorDispatcher</servlet-name>
        <url-pattern>/ControladorDispatcher</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
